:root {
  --user-pic-diameter: 48px; 
  --grey-color: rgb(100,100,100);
  /* IF ONe blue changes both must be changed */
  --blue-color: #1DA1F2;
  --blue-color-rgb: 29, 161, 242;
  --black-color: rgb(31,31,31);
  --light-grey-color: rgba(239,243,244,255);
  --white-highlight-color: #f8f8f8;
  box-sizing: border-box;
  font-size: 15px;
  background-color: white;

}
/* Text Colors */
.greyText {
  color: var(--grey-color);
}
.blueText {
  color: var(--blue-color);
}
.blackText {
  color: var(--black-color);
}
.px20 {
  font-size: 20px;
}
.px18 {
  font-size: 18px;
}
.px15 {
  font-size: 15px;
}
.px14 {
  font-size: 14px;
}
.bold {
  font-weight: 900;
}
.lessBold {
  font-weight: 700;
}
.centerIt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.greyBottomBorder {
  border-bottom: var(--light-grey-color) solid 1px;
}
.whiteHighlightColor:hover {
  background: var(--white-highlight-color) !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.outerMost {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.centerPage {
  flex: 0 1 598px;
  overflow-y: scroll;
  max-height: 100vh;
  overflow-x: visible;
}

.routerLink {
  text-decoration: none;
  color: inherit;
}
.typicalButton {
  color: white;
  background-color: #1DA1F2;
  width: 75px;
  height: 36px;
  border-radius: 18px;
  font-weight: bolder;
  border: none;
  margin: 10px;
  cursor: pointer;
}


::placeholder {
  color: var(--grey-color);
  opacity: 1;
}
textarea:focus, input:focus{
  outline: 0;
}

/* Single Tweet */

.singleTweetContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: var(--light-grey-color) solid 1px;
  width: 99%;
  margin: 0 0 0 0;
}

.retweetedBy {
  align-self: flex-start;
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--grey-color);
  margin: 5px 0 0 calc(var(--user-pic-diameter));
}
.retweetedBy > p {
  font-size: 13px;
  font-weight: 700;
  margin: 0 7px;
}
.retweetedBy > .icon {
  font-size: 16px;
}
.singleTweetHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.userPicContainer {
  width: var(--user-pic-diameter);
  height: var(--user-pic-diameter);
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin: 10px 10px 0 10px;
}
.userPic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.tweetContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.tweetContent > .replyInfo {
  margin: 0 0 3px 0;
}
.tweetContent > .tweetUser {
  margin: 10px 0 3px 0;
}
.tweetContent > img {
  margin: 5px 0;
  border: var(--light-grey-color) solid .5px;
  border-radius: 10px;
  max-height: 480px;
  width: 300px;
}
.singleTweetFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: calc(100% - 20px);
  margin: 0 10px;
}
.footerIcon {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--grey-color);
}
.footerIcon > * {
  color: inherit;
  padding: 5px;
  margin: 0 0 10px 0;
  border-radius: 50%;
}
.footerIcon > p {
  font-size: 14px;
  padding: none;
}
.commentIcon:hover {
  color: #1DA1F2;
}
.commentIcon:hover .icon {
  background-color: rgba(29, 161, 242, .2);
}
.retweetIcon:hover {
  color: #10d441;
}
.retweeted {
  color: #10d441;
}
.retweetIcon:hover .icon {
  background-color: rgba(16, 212, 65, .2);
}
.heartIcon:hover {
  color: #ee2759;
}
.liked {
  color: #ee2759;
}
.heartIcon:hover .icon {
  background-color: rgba(238, 39, 89, .2);
}
/* Home top */

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: var(--light-grey-color) solid 1px;
  width: 99%;
  margin: 0 0 0 0;
}
.homeTopTitle > h1 {
  margin: 10px;
  font-size: 20px;
}
.homeTopHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: -10px 0 0 0;
  width: 100%;
}
.homeTopHeader > textarea {
  margin: 20px 20px 0 0;
  width: auto;
  border: none;
  font-family: inherit;
  font-size: 20px;
  color: inherit;
  flex: 1;
  resize: vertical;
}
.homeTopFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.homeTopFooter > span {
  margin: 0 0 0 calc(var(--user-pic-diameter) + 20px);
}

/* Pop Up */

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .25);
  /*background-color: rgba(var(--blue-color-rgb), .1);*/
  width: 100%;
  height: 100vh;
  z-index: 99;

}
.popUp > * {
  opacity: 1;
}
.popUp > form {
  background: white;
  opacity: 1;
  width: 600px;
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 16px;
}

/* ProfileTop */

.banner {
  width: 100%;
  aspect-ratio: 3 / 1;
}

.profileTopTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#backIcon {
  color: var(--grey-color);
  font-size: 20px;
  padding: 10px;
  margin: 5px 15px;
  background-color: white;
  border-radius: 50%;
}
#backIcon:hover {
  background-color: var(--light-grey-color);
}
.profileTopName {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}
.profileTopTitle > div > p {
  font-size: 13px;
  color: var(--grey-color);
}
.profileTopTitle > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.profileTopHeader {
  position: relative;
}
.profileTopHeader > .userPicContainer {
  height: 135px;
  width: 135px;
  border: white 3.5px solid;
  position: absolute;
  margin: 0;
  left: 50px;
  bottom: 0px;
}
.profileTopHeader > .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.whiteBox {
  height: 67.5px;
  flex: 1 1 auto;
}
.profileTopText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}
.profileTopText > p {
  color: var(--grey-color);
}
.profileTopFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.profileTopFooter > p {
  flex: 1;
  text-align: center;
  padding: 16px 0;
  color: var(--grey-color);
}
.profileTopFooter > p:hover {
  background-color: var(--light-grey-color);
}
.profileTopFooterSelected {
  border-bottom: var(--blue-color) 3px solid;
  color: var(--black-color) !important;
}

/* Main Tweet */
.mainTweetTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.mainTweetName {
  font-size: 20px;
}
.mainTweetHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.mainTweetUser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0 0 0;
}
.mainTweetContent {
  margin: 15px 10px 0 10px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 23px;
}

.mainTweetContent > * {
  width: 100%;
  padding: 0 0 10px 0;
}

.mainTweetStats {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 10px 10px;
  padding: 0 0 10px 0;
  width: calc(100% - 20px);
}

.mainTweetStats > p {
  margin: 0 10px 0 0;
}

.mainTweetReply {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0 0 0;
}

.mainTweetReplyHeader {
  margin: 0 0 0 calc(var(--user-pic-diameter) + 20px);
}

.mainTweetReplyContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: -10px 0 0 0;
  width: 100%;
}

.mainTweetReplyContent > textarea {
  margin: 20px 20px 0 0;
  width: auto;
  border: none;
  font-family: inherit;
  font-size: 20px;
  color: inherit;
  flex: 1;
  resize: vertical;
}

.mainTweetReplyFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 calc(var(--user-pic-diameter) + 20px);
  width: calc(100% - 30px - var(--user-pic-diameter));
}
 
/* Navbar */

nav {
  flex: 0 1 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px 0 0 0;
}
.navButton {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  padding: 12px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.navButton > p {
  padding: 0 10px;
}
.navButton:hover {
  background-color: var(--light-grey-color);
}
#marginBird {
  color: var(--blue-color);
}


/* Search bar */

#searchBar {
 /* flex: 1;*/
  background-color: var(--light-grey-color);
  width: 90%;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 18px;
  margin: 5px 0 0 0;
}
#searchBar > * {
  color: var(--grey-color);
  background-color: inherit;
  border: none;
  font-size: 16px;
  padding: 0  0 0 10px;
}

/* Search Margin */
#searchMargin {
  flex: 0 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

/* Suggested Add */
#suggestedAdds {
  background-color: var(--light-grey-color);
  width: 90%;
  margin: 10px 0;
  border-radius: 18px;
}
#suggestedAdds > h3 {
  margin: 10px;
}

.suggestedAddContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.suggestedAddContainer > button {
  color: white;
  background-color: #1DA1F2;
  width: 75px;
  height: 36px;
  border-radius: 18px;
  font-weight: bolder;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.suggestedUser {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Login Page */
#loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--blue-color);
  height: 100vh;
}

#loginPage > .icon {
  font-size: 40px;
  color: white;
  background-color: none;
  padding: 20px;
  border: 1px white solid;
  border-radius: 50%;
}

#loginPage > h1 {
  text-align: center;
  color: white;
  font-size: 35px;
}

#loginPage > button {
  width: fit-content;
  height: 50px;
  border-radius: 25px;
  background: white;
  color: var(--blue-color);
  font-size: 15px;
  padding: 0 20px;
  cursor: pointer;
}

/* loading Spinner */

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  left: calc(50% - 20px);
  top: 40%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  /*margin: auto;*/
}

.spinLocalParent {
  position: relative;
  width: 100%;
  height: 70px;

}
.spinLocal::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: calc(50% - 20px);
  top: 40px;
  height: 40px;
  width: 40px;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}





/* Media Queries */

@media only screen and (max-width: 1250px) {
  .navButton > p {
    display: none;
  }
  nav {
    align-items: center;
  }
}

@media only screen and (max-width: 1000px) {
  #searchMargin {
    display: none;
  }
  .outerMost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 20px 0 30px;
  }
  nav {
    flex: .2;
  }
}

@media only screen and (max-width: 480px) {
  #searchBar {
    display: none;
  }
  .outerMost {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100vh;
  }

  nav {
    flex: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 46px;
  }
  .centerPage {
    width: 100%;
    flex: 1 1 auto;
  }
  #loginPage > h1 {
    font-size: 25px;
  }
}

